html *{
    margin: 0px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 
    'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body{
    background: #d9d9d9;
}

.header{
    top: 0px;
    z-index: 1;
    height: auto;
    position:sticky;
    min-width: 300px;
    background-color: rgb(124, 148, 159);
    box-shadow: 0px 20px 40px rgb(77, 77, 77);
}
.color-grey{
    color: rgb(152, 152, 152);
}

.header-title{
    padding: 10px 20px;;
    color: rgb(255, 255, 255)
}

.button-block{
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 10px;
    padding-left: 10px;
}

.change-view-button{
    margin: 5px;
    padding: 10px;
    display: flex;
    cursor: pointer;
    min-width: 100px;
    border-radius: 5px;
    color: whitesmoke;
    text-decoration: none;
    justify-content: center;
    background-color: rgb(90, 82, 107);
    box-shadow: 2px 4px rgb(110, 108, 116);
}

.change-view-button:hover{
    transform: scale(1.1);
}

.add-product-view{
    height: 100%;
}

.product-form{
    margin: 20px;
    padding: 20px;
    width:max-content;
    border-radius: 10px;
    background-color: rgb(240, 240, 240);
    box-shadow: 4px 4px 30px 4px rgb(116, 116, 116);
}

.form-block{
    display: flex;
    min-width: 300px;
    justify-content: center;
}

.block{
    margin: 10px;
}

.drop-menu{
    outline: 0;
    color: grey;
    font-size: 15px;
    margin: 20px 0px;
    border-radius: 3px;
    border-color: rgb(209, 209, 209);
}

.drop-menu:hover{
    border-color: rgba(95, 141, 214, 0.945)
}

.drop-menu-title{
    font-size: 15px;
    padding-top: 8px;
    margin: 20px 0px;
    padding-right: 10px;
}

.flex{
    display: flex;
    flex-wrap: wrap;
}

.description{
    margin: 10px 20px 10px 0px;
}

.warning{
    color:red;
}

.warning-2{
    color:orange;
}

.margin-top{
    margin-top: 30px;
}

.product-icon{
    width: 300px;
    margin: 10px;
    cursor: pointer;
    min-width: 280px;
    border-radius: 10px;
    background: blueviolet;
    border: 3px solid #d9d9d9;
}

.product-icon:hover{
    transition: 0.3s;
}

.selected-product{
    border: 3px solid #2196F3;
    opacity: 0.7;
}

.product-text{
    display: flex;
    flex-wrap: wrap;
    text-align:center;
    justify-content: center;
    padding: 10px 20px 0px 20px;
}

.last-parameter{
    padding-bottom: 20px;
}

.dvd{
    background-image: linear-gradient(to right, rgb(221, 171, 123), rgb(214, 153, 83));
}

.book{
    background-image: linear-gradient(to right, rgb(173, 137, 112), rgb(178, 134, 92));
}

.furniture{
    background-image: linear-gradient(to right, rgb(188, 164, 99), rgb(181, 163, 84));
}

.delete-checkbox{
    margin: 15px;
    position: absolute !important;
}

