<template>
    <span class="p-float-label margin-top">
        <InputText 
            v-model="weight"
            v-on:input="changeValue(weight)" 
            type="number" 
            id="weight" 
            name="weight" 
            min="0"
        />
        
        <br>

        <label for="weight">Weight(kg):</label>
    </span>

    <span class="warning-2">{{ emptyFieldWarning(weight) }}</span>
    <span class="warning">{{ numberWarning(weight, 'Weight ') }}</span>

    <p class="description">Please, provide weight!</p>
</template>

<script setup>
    import { ref } from 'vue'
    import { useStore } from 'vuex'
    import { numberWarning, emptyFieldWarning } from '@/validators/warnings'

    const store = useStore()
    let weight = ref('')

    function changeValue(value)
    {
        store.dispatch("changeValue", {
            parameter: 'attribute',
            value: value,
            validationName: 'Number',
        })

        store.dispatch("changeValue", {
            parameter: 'type',
            value: 'Book',
        })

        store.dispatch("changeValue", {
            parameter: 'units',
            value: 'kg',
        })
    }
</script>