<template>
    <span class="p-float-label margin-top">
        <InputText 
            v-model="size"
            v-on:input="changeValue(size)" 
            type="number" 
            id="size" 
            name="size" 
            min="0"
        />
        
        <br>

        <label for="size">Size(mb):</label>
    </span>

    <span class="warning-2">{{ emptyFieldWarning(size) }}</span>
    <span class="warning">{{ numberWarning(size, 'Size ') }}</span>

    <p class="description">Please, provide size!</p>
</template>

<script setup>
    import { ref } from 'vue'
    import { useStore } from 'vuex'
    import { numberWarning, emptyFieldWarning } from '@/validators/warnings'

    const store = useStore()
    let size = ref('')

    function changeValue(value)
    {
        store.dispatch("changeValue", {
            parameter: 'attribute',
            value: value,
            validationName: 'Number',
        })

        store.dispatch("changeValue", {
            parameter: 'type',
            value: 'Dvd',
        })

        store.dispatch("changeValue", {
            parameter: 'units',
            value: 'mb',
        })
    }
</script>