<template>
    <span class="p-float-label margin-top">
        <InputText 
            v-model="height"
            v-on:input="changeValue" 
            type="number" 
            id="height" 
            name="height" 
            min="0"/><br>

        <label for="height">Height(cm):</label>
    </span>

    <span class="warning-2">{{ emptyFieldWarning(height) }}</span>
    <span class="warning">{{ numberWarning(height, 'Height ') }}</span>
    
    <span class="p-float-label margin-top">
        <InputText 
            v-model="width"
            v-on:input="changeValue" 
            type="number" 
            id="width" 
            name="width" 
            min="0"/><br>

        <label for="width">Width(cm):</label>
    </span>

    <span class="warning-2">{{ emptyFieldWarning(width) }}</span>
    <span class="warning">{{ numberWarning(width, 'Width ')}}</span>
    
    <span class="p-float-label margin-top">
        <InputText 
            v-model="length"
            v-on:input="changeValue" 
            type="number" 
            id="length" 
            name="length" 
            min="0"/><br>

        <label for="length">Length(cm):</label>
    </span>
    
    <span class="warning-2">{{ emptyFieldWarning(length) }}</span>
    <span class="warning">{{ numberWarning(length, 'Length ') }}</span>
    
    <p class="description">Please, provide dimensions!</p>
</template>

<script setup>
    import { computed, ref } from 'vue'
    import { useStore } from 'vuex'
    import { numberWarning, emptyFieldWarning } from '@/validators/warnings'

    const store = useStore()

    let height = ref('')
    let width = ref('')
    let length = ref('')
    let attribute = computed(() => height.value + 'x' + width.value + 'x' + length.value)

    function changeValue()
    {
        store.dispatch("changeValue", {
            parameter: 'attribute',
            value: attribute.value,
            validationName: 'Furniture',
        })

        store.dispatch("changeValue", {
            parameter: 'type',
            value: 'Furniture',
        })

        store.dispatch("changeValue", {
            parameter: 'units',
            value: 'm',
        })
    }
</script>