<template>
    <div class="header">
        <div class="header-title color-grey">
            {{ currentRouteName }}
        </div>

        <div class="button-block"> 
            <Button 
                @click="router.push('/add-product')" 
                style="margin: 5px" 
                label="ADD" 
                class="p-button-raised p-button-secondary"/>

            <Button 
                @click="router.push('/')" 
                style="margin: 5px" 
                label="PRODUCT LIST" 
                class="p-button-raised p-button-secondary"/>

            <Button 
                v-if="currentRouteName == 'Product list'" 
                @click="massDelete" 
                style="margin: 5px" 
                label="MASS DELETE"
                class="p-button-raised p-button-primary"/>
        </div>
    </div>
</template>

<script setup>
    import { computed } from 'vue'
    import { useStore } from 'vuex'
    import { useRouter, useRoute } from 'vue-router'

    const store = useStore()
    const router = useRouter()
    let currentRouteName = computed(() => useRoute().name)

    function massDelete()
    {
        store.dispatch("massDelete");
    }
</script>