<template>
    <div class="add-product-view">
        <div class="form-block">
            <form id="product_form" class="product-form">
                <span class="p-float-label margin-top">
                    <InputText 
                        v-model="sku"
                        v-on:input="changeValue('sku', sku, 'Sku')"
                        type="text" 
                        id="sku" 
                        name="sku"
                    />

                    <label for="sku">SKU:</label>
                </span>

                <span class="warning-2">{{ emptyFieldWarning(sku) }}</span>
                <span class="warning">{{ skuWarning(sku) }}</span>

                <span class="p-float-label margin-top">
                    <InputText 
                        v-model="name"
                        v-on:input="changeValue('name', name)"
                        type="text" 
                        id="name" 
                        name="name"
                    />
                    
                    <br>

                    <label for="name">Name:</label>
                </span>

                <span class="warning-2">{{ emptyFieldWarning(name) }}</span>
                
                <span class="p-float-label margin-top">
                    <InputText 
                        v-model="price"
                        v-on:input="changeValue('price', price, 'Number')" 
                        type="number" 
                        id="price" 
                        name="price" 
                        min="0"
                    />

                    <label for="price">Price($):</label>
                </span>

                <span class="warning-2">{{ emptyFieldWarning(price) }}</span>
                <span class="warning">{{ numberWarning(price, 'Price ') }}</span>
                
                <span class="flex align-items">
                    <label class="drop-menu-title">Type:</label>

                   <select 
                        v-model="type"
                        name="typeSwitcher" 
                        id="productType"
                        class="drop-menu">
                            <option value = Dvd>DVD</option>
                            <option value = Book>Book</option>
                            <option value = Furniture>Furniture</option>
                    </select>
                </span>

                <keep-alive>
                    <component :is= "component"/>
                </keep-alive>

                <div>
                    <Button
                        @click="save"
                        label="Save" 
                        style="margin: 5px" 
                        class="p-button-raised p-button-success change-view-button"
                    />

                    <Button 
                        @click="navigateToIndex"
                        label="Cancel"
                        style="margin: 5px" 
                        class="p-button-raised p-button-danger change-view-button" 
                    />
                </div>
            </form> 
        </div>
    </div>
</template>

<script setup >
    import { useStore } from 'vuex'
    import { useRouter } from 'vue-router'
    import Dvd from '@/components/AddDvd.vue'
    import Book from '@/components/AddBook.vue'
    import Furniture from '@/components/AddFurniture.vue'
    import { computed, ref, shallowRef, watch } from 'vue'
    import { skuWarning, numberWarning, emptyFieldWarning } from '@/validators/warnings'

    const store = useStore()
    const router = useRouter()
    const productTypes = [
        {'label': 'DVD', 'value': Dvd },
        {'label': 'Book', 'value': Book },
        {'label': 'Furniture', 'value': Furniture }
    ]

    let sku = ref('')
    let name = ref('')
    let price = ref('')
    let type = ref('DVD')
    let component = shallowRef(Dvd)
    let isValidForm = computed(() => store.getters.isValidForm)

   
    watch(type, (typeValue) => {
        
        productTypes.forEach((object)=>{
            if(object.label == typeValue){
                component.value = object.value
            }
        })
    })

    function changeValue(parameter, value, validationName = '')
    {
        store.dispatch("changeValue", {
            parameter: parameter,
            value: value,
            validationName: validationName,
        })
    }

    function save()
    {
        store.dispatch("addProduct")

        if(isValidForm.value){
            navigateToIndex()
        }
    }

    function navigateToIndex()
    {
        store.dispatch("resetNewProduct")

        router.push('/')
    }

</script>
