<template>
    <div class="flex">
        <div 
            v-for="product in products"
            @click="selectElement(product)"
            class="product-icon" 
            :class="productTypeClass(product.type, product.isSelected)">

            <input 
                :name="product.sku"
                class="delete-checkbox" 
                type="checkbox"
                @chenge="select(product)"
                v-model="product.isSelected"
            />

            <div class="product-text sku-position">
                {{ product['sku'] }}
            </div>

            <div class="product-text">
                {{ product['name'] }}
            </div>

            <div class="product-text">
                <div class="flex">
                    <div>{{ product['price'] }}</div>
                    <div>$</div>
                </div>
            </div>

            <div class="product-text last-parameter">
                <div class="flex">
                    <div>{{ product.attribute + product.units }}</div>
                </div>
            </div>
        </div>
    </div>

    <div class="block" v-if="products.length == 0">
        Click "ADD" to add the first product on the list!
    </div>
</template>

<script setup>
    import { computed, ref, onMounted, watchEffect} from 'vue'
    import { useStore } from 'vuex'

    const store = useStore()

    let weight = ref('')
    let checkboxes = store.getters.selectedProducts
    let products = computed(() => store.getters.products)

    function selectElement(product)
    {
        select(product)

        for(let box in checkboxes)
        {
            if(checkboxes[box].name == product.sku)
            {
                checkboxes[box].checked = !checkboxes[box].checked
            }
        }
    }

    function productTypeClass(type, isSelected)
    { 
        return {
            dvd: type == 'Dvd', 
            book: type == 'Book', 
            furniture: type == 'Furniture', 
            'selected-product': isSelected   
        }
    }

    function select(product)
    {
        store.dispatch("selectProduct", product)
    }
    
</script>