<template>
    <app-header/>
    <router-view/>
</template>

<script setup>
    import AppHeader from '@/components/AppHeader.vue'
    import { useStore } from 'vuex'

    const store = useStore()
    store.dispatch("fetchData")
</script>


